@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");


.pastabilities {
    background-color: yellow;
    border: dotted 4px green;
}

.jumbotron{
    background-color: #63954b;


}
.btn-warning{
    color: black;
    border: dotted 4px black;
}

.penne {
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}


.info{
    color: black;
}

.listout {
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}